@font-face {
  font-family:'Open_Sans' ;
  src: url(./assets/OpenSans-Regular.ttf);
}

@font-face {
  font-family:'Open_Sans_Bold' ;
  src: url(./assets/Roboto-Bold.ttf);
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Open_Sans;
  border: none;
  outline: none;
  letter-spacing: 1px;
  background-color: antiquewhite;
}

.container{
  margin: 0 auto;
  max-width: 1080px;
  width: 95%;
}

.navbar{
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
  border-radius: 60px;
  top:10px;
  width: 95%;
  place-items: center;
  background-color: hsla(143, 87%, 33%, 0.25);
  z-index: 1;
}

.navbar h1{
  font-size: 30px;
  color:hsl(216, 33%, 41%) ;
  background: transparent;
}

.navbar div{
  font-size: 25px;
  color:hsl(216, 33%, 41%) ;
  background: transparent;
}


.navbar div span{
  font-size: 25px;
  font-family: 'Open_Sans_Bold';
  color:hsl(216, 33%, 41%) ;
  background: transparent;
}

@media (max-width: 450px) {
  .navbar h1{
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .navbar div{
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .navbar div span{
    font-size: 15px;
  }
}

/*search*/
.searchContainer{
  font-size: 20px;
  margin-top: 10px;
  display: grid;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  grid-template-columns: 150px auto 150px;
  border-radius: 60px;
  top:10px;
  width: 95%;
  place-items: center;
  background-color: hsla(300, 9%, 84%, 0.25);
}

.search{
  font-size: 20px;
 
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  width: 100%;
}

.searchContainer:focus-within {
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.8);
}
.searchText{
  font-size: 20px;
  font-family: 'Open_Sans';
  color: #333333;
  outline: none;
  border: none;
  align-items: center;
  background: transparent;
  width: 100%;
}

.searchText::placeholder,.searchIcon {
  color: hsla(0, 0%, 0%, 0.7);
}