@font-face {
  font-family:'Open_Sans' ;
  src: url(./assets/OpenSans-Regular.ttf);
}

@font-face {
  font-family:'Open_Sans_Bold' ;
  src: url(./assets/Roboto-Bold.ttf);
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Open_Sans;
  border: none;
  outline: none;
  letter-spacing: 1px;
  background-color: rgb(248, 246, 243);
}

.container{
  margin: 0 auto;
  max-width: 1080px;
  width: 95%;
}

.navbar{
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
  border-radius: 60px;
  top:10px;
  width: 95%;
  place-items: center;
  background-color: hsla(143, 87%, 33%, 0.25);
  z-index: 1;
}

.navbar h1{
  font-size: 30px;
  color:hsl(216, 33%, 41%) ;
  background: transparent;
}

.navbar div{
  font-size: 25px;
  color:hsl(216, 33%, 41%) ;
  background: transparent;
}


.navbar div span{
  font-size: 25px;
  font-family: 'Open_Sans_Bold';
  color:hsl(216, 33%, 41%) ;
  background: transparent;
}

@media (max-width: 450px) {
  .navbar h1{
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .navbar div{
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .navbar div span{
    font-size: 15px;
  }
}

/*search*/


.searchMain{
  margin-top: 20px;
  background-color: hsla(300, 9%, 84%, 0.4);
  border-radius: 30px;
}

.toggle{
  display: flex;
  gap :20px;
  background-color: transparent;
  padding-left: 50px;
  align-items: center;
  
}

.toggle div{
    background-color: transparent;
    margin-top: 10px;
    align-items: center;
}


.searchContainer{
  font-size: 20px;
  margin-top: 1px;
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  grid-template-columns: auto 150px;
  border-radius: 60px;
  top:10px;
  width: 95%;
  place-items: center;
  background-color: transparent;
}

.search{
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  width: 100%;
}

.selectSearch{
  font-size: 20px;
  background: transparent;
  color:hsl(216, 33%, 41%) ;
}

.searchMain:focus-within {
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.8);
}
.searchText{
  font-size: 20px;
  font-family: 'Open_Sans';
  color: #333333;
  outline: none;
  border: none;
  align-items: center;
  background: transparent;
  width: 100%;
}

.searchText::placeholder,.searchIcon {
  color: hsla(0, 0%, 0%, 0.7);
}

.btn{
  display: flex;
  height: 30px;
  width: 100px;
  background-color:hsla(143, 87%, 33%, 0.25) ;
  font-size: 20px;
  color:hsl(216, 33%, 41%) ;
  align-items: center;
  justify-content: center;
  border-radius: 30px; 

}

.btn:hover{
  background-color:hsla(143, 87%, 33%, 0.5) ;
}


.btnMain{
  background: transparent;
}

@media (max-width: 450px) {
  .searchContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}


@media screen {
  .search{
    display: flex;
    width: 90%;
    margin: auto;
  }
}

/*toggle*/


.toggleContainer{
  width: 60px;
  display: flex;
  align-items: center;
}

.buttonToggle{
  background-color: hsl(300, 9%, 84%);
  width: 60px;
  height: 30px;
  border-radius: 80px;
  cursor: pointer;
  position: relative;
}

.buttonToggle::before{
  position: absolute;
  content: '';
  background-color: hsla(143, 87%, 33%, 0.5);
  width: 24px;
  height: 24px;
  border-radius: 60px;
  margin: 3px;
  transition: 0.3s;
}

input:checked+.buttonToggle{
  background-color: hsl(300, 9%, 84%);
}

input:checked+.buttonToggle::before{
  transform: translateX(-30px);
}

.checkbocInput{
  display: none;
}


/*write list*/

.mealContainer{
  display: flex;
  gap: 2vw;
  margin-top: 20px;
  background-color: hsla(300, 9%, 84%, 0.4);
  border-radius: 30px;
}


.mealContainer:hover {
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.8);
}

.mealContainer del{
  background: transparent;
}

.mealImg{
  padding: 15px;
  width: 15vw;
  border-radius: 40px;
  background: transparent;
}

.discription{
  text-align: left;
  margin-top: 25px;
  background: transparent;
}

.h1{
  background: transparent;
  font-size: 30px;
  color:hsl(216, 33%, 41%) ;
}



.discription p{
  background: transparent;
  font-size: 20px;
  color:hsl(216, 33%, 41%) ;
}

.h2{
  
  background: transparent;
}


@media (max-width: 450px) {

  .mealImg{
    width: 30vw;
    border-radius: 25px;
  }

  .h1{
  
    font-size: 20px;
   
  }

  .discription p{
    
    font-size: 15px;
  }
  
}

.mealImgSingle{
  padding: 15px;
  width: 30vw;
  border-radius: 40px;
  background: transparent;
}

.foot{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mealContainerSingle{
  text-align: justify;
  background: transparent;
}